/* .container {
   border: 2px solid black;
   background-color: rgb(230, 230, 230);

  }
.container-child{
    float: right;
  
}
form{
    align:center;
    background-color: white;
    padding: 0px 10px ;
    border-radius: 20px;
    width: 850px;
}
/* .logo {
    display: center;
    margin: 0px 700px;
    width: 30%;
  } */


header img{
    height: 100px;
    width: inherit;
    display: flex;
}
header p{
    font-size: 30px;
    color: red;
    font-family: monospace;
}
img{
    height: 200px;
    width: 33.8%;
}
input{
    width: 250px;
    height: 35px;
    border: 1px solid gray;
    border-radius: 10px;
    /* box-shadow: 100px; */
}
select{
    width: 250px;
    height: 35px;
    border: 1px solid gray;
    border-radius: 10px;
    /* box-shadow: 100px; */
    
}
#gender, #nationality{
    width: 150px;
}
button{
    width: 150px;
    height: 35px;
    color: white;
    background-color: rgb(252, 21, 21);
    border: 1px solid;
    border-radius: 10px;
    font-size: 15px;
    font-weight: bold;
}
#spider{
    width: 50px;
    height: 50px;
}
footer{
    font-size: 20px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
}